.mySlides {
    display:none;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 5;
}

.btn .btn-outline-light{
    margin-right: 5px;
}

.img-container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
}

body{
    margin: 0px!important;
    background-color: #f4c1c1 !important;
    color: white!important;
    font-family: 'Courier New', Courier, monospace!important;
    font-size: 1em!important;
}