@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* Welcome */
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-container {
        padding: 25px!important;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-right: 0px;
    }
    
    .typing-effect {

        font-size: 2em!important;
        max-width: 200px!important;
        margin-top: 25px!important;
    }
    
    .box {
        width: 15px;
        max-height: 100px;
    }
    
    .footer-text{
        font-size: 0.8em!important;        
    }

    .container-infos {
        
        flex-direction: column;
    }
    
    /* content */

    .conten-container{
        margin-top:100px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    ul{
        margin-bottom: 25px;
        padding: 0px;
    }
    .myimg{
        max-width: 300px!important;
        height: auto;
        margin-bottom: 25px!important;
        margin-right: 25px!important;
    }


    .flip-card-front img{
        max-width: 260px!important;
        height: auto!important;
    }
    .flip-card {
        width: 300px!important;
        height: 300px!important;
    }
    .flip-card-front{
        font-size: 0.9em;
    }
    .flip-card-back{
        font-size: 0.8em;
    }
    .form-container {
        display:block!important;
    }
    .login-container {
        margin-bottom: 25px;
        width: 100%!important;
    }
    .contact-container {
        width: 100%!important;
    }

}