@media only screen and (max-width: 767px) {
    /* Welcome */
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-container {
        padding: 25px!important;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-right: 0px;
    }
    
    .typing-effect {

        font-size: 2em!important;
        max-width: 200px!important;
        margin-top: 25px!important;
    }
    
    .box {
        width: 15px;
        max-height: 100px;
    }
    

    /* content */

    .conten-container{
        margin-top:100px;
        
    }
    ul{
        margin-bottom: 25px;
        padding: 0px;
    }
    .myimg{
        margin: 0 auto!important;
        max-width: 300px!important;
        height: auto;
        margin-bottom: 50px!important;
    }


    .projects-container{
        display:block!important;
        align-items: center;
        margin-right: 10px;
        
    }
    .flip-card-front img{
        max-width: 260px!important;
        height: auto!important;
    }
    .flip-card {
        width: 300px!important;
        height: 300px!important;
    }

    .form-container {
        display:block!important;
    }
    .login-container {
        margin-bottom: 25px;
        width: 100%!important;
    }
    .contact-container {
        width: 100%!important;
    }

}