@media screen and (max-width: 767px) {
    /* Welcome */
    body{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .welcome-container {
        padding: 25px!important;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 100px;
        margin-right: 0px;
    }

    .typing-effect {

        font-size: 2em!important;
        max-width: 200px!important;
        margin-top: 25px!important;
    }
    
    
    .box {
        width: 15px;
        max-height: 100px;
    }
        
    .footer-text{
        font-size: 0.8em!important;        
    }

    /* content */

    .conten-container{
        margin-top:100px;
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
    ul{
        margin-bottom: 25px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .myimg{
        float: left;
        max-width: 340px!important;
        height: auto;
        margin: 0 auto !important;
    }

    .container-infos{
        margin-bottom: 0px !important;
        
    }
    
    .container-accordion{
        margin-bottom: 0px;
    }
    .projects-container{
        display: block!important;
    }
    .flip-card-front img{
        max-width: 260px!important;
        height: auto!important;
    }
    .flip-card {
        width: 300px!important;
        height: 300px!important;
    }
    .flip-card-front{
        font-size: 0.9em;
    }
    .flip-card-back{
        font-size: 0.8em;
    }

    .form-container {
        display:block!important;
    }
    .login-container {
        margin-bottom: 25px;
        width: 100%!important;
    }
    .contact-container {
        width: 100%!important;
    }

}