
@keyframes spin{
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg);
    }
}

@keyframes revers-spin{
    from{
        transform:rotate(360deg)
    }
    to{
        transform:rotate(0deg);
    }
}


@keyframes introright{
    0% {
        transform: scaleX(1);
        transform-origin: 100% 100%;
        
      }
      100% {
        transform: scaleX(0);
        transform-origin: 100% 100%;
      }
}


@keyframes introleft{
    0% {
        transform: scaleX(1);
        transform-origin: 0% 0%;

      }
      100% {
        transform: scaleX(0);
        transform-origin: 0% 0%;
      }
}
