@import "animations.css";

/* header grundeinstellung*/
#menu {
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    color: #f5f5f5;
    font-weight: bold;
    z-index: 5;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    float: left;
    list-style: none;
    margin-right: 1%;
    margin-left: 0.5%;
    padding: 5px 10px;
    z-index: 5;

}

a:hover {
    color: #000000;
    background-color: #f5f5f5;
    z-index: 5;
    padding-left: 10px;
    padding-right: 10px;
}

/*Header responsive*/

@media only screen and (max-width: 480px) {



    .container {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;

    }

    #menu {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.4em;
        color: #f5f5f5;
        font-weight: bold;
    }



    li {
        width: 100%;
        height: 20px;
        line-height: 10px;
        padding: 0;
        padding-top: 10px;
        border-bottom: 3px solid #666666;
        border-width: 100%;
        margin-left: -6%;
        list-style: none;
        z-index: 3;


    }

    .main-rec {
        position: fixed;
        top: 0;
        width: 100%;
        height: 250px;
        margin-bottom: 50px;
        background-color: rgb(2, 0, 0);
        z-index: 3;
    }


    /*Home*/
    .bild {

        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: 0px 0px 20px 10px #666666;

    }

}


@media (min-width: 481px) {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .menu {
        font-family: 'Courier New', Courier, monospace;
        font-size: 150%;
        color: #f5f5f5;
        font-weight: bold;
        z-index: 5;
    }



    .line {
        position: absolute;
        border: 2px solid #666666;
        width: 85%;
        top: 70px;
        margin-left: 3%;

    }

    .main-rec {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background-color: rgb(0, 0, 0);
        z-index: 4;
    }


    /*Home*/
    .bild {

        position: relative;
        left: -6.5%;
        margin-top: 8%;
        margin-bottom: 20%;
        width: 85%;
        height: 50%;
        box-shadow: 0px 0px 20px 10px #666666;

    }

}


/*footer responsive*/

@media only screen and (max-width: 480px) {

    /* footer*/
    .footer {
        position: relative;
        top: 100%;
        width: 100%;
        height: 50px;
        margin-top: 50px;
        background-color: #66666650;
    }

    footer {

        width: 100%;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8em;
        color: white;
        Text-align: center;
        line-height: 50px;
    }

}

@media (min-width: 481px) {

    /*footer*/

    .footer {
        float: left;
        width: 100%;
        height: 50px;
        background-color: #66666650;
        margin-top: 100px;
    }

    footer {
        float: left;
        width: 100%;
        margin-top: 20px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8em;
        color: white;
        Text-align: center;
    }

}

/*Intro*/

@media only screen and (min-width: 400px) and (max-width: 480px) {



    .container {
        display: flex;
        min-height: 90vh;
        align-items: center;
        justify-content: center;

    }

    .kreis {

        width: 300px;
        height: 300px;
        background-color: #000000;
        border-radius: 50%;
        filter: blur(2px);
        box-shadow: inset 0px 0px 0px 10px #000000;
        justify-content: center;
        z-index: 2;

    }


    .welcome {
        position: absolute;
        width: 350px;
        height: 350px;

        line-height: 350px;

        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 2em;
        color: #f5f5f5;
        text-shadow: 10px 10px 10px #000000;
        z-index: 3;
    }

    .welcome-animation-1 {

        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff31;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 30s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    .welcome-animation-2 {
        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff31;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 30s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .welcome-animation-3 {
        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 25s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .welcome-animation-4 {
        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 25s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg);

    }

    .welcome-animation-5 {
        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 15s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg);

    }

    .welcome-animation-6 {
        position: absolute;
        width: 350px;
        height: 350px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 15s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg)
    }

}

@media (min-width: 481px) {



    .container {
        display: flex;
        min-height: 90vh;
        align-items: center;
        justify-content: center;

    }

    .kreis {

        width: 500px;
        height: 500px;
        background-color: #000000;
        border-radius: 50%;
        filter: blur(2px);
        box-shadow: inset 0px 0px 0px 10px #000000;
        justify-content: center;
        z-index: 2;

    }


    .welcome {
        position: absolute;
        width: 500px;
        height: 500px;

        line-height: 500px;

        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 3em;
        color: #f5f5f5;
        text-shadow: 10px 10px 10px #000000;
        z-index: 3;
    }

    .welcome-animation-1 {

        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff31;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 30s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    .welcome-animation-2 {
        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff31;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 30s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .welcome-animation-3 {
        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 25s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    .welcome-animation-4 {
        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 25s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg);

    }

    .welcome-animation-5 {
        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 15s;
        animation-name: spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg);

    }

    .welcome-animation-6 {
        position: absolute;
        width: 550px;
        height: 550px;
        order: 3;
        justify-content: center;
        background-color: #ffffff2a;
        z-index: 1;
        filter: blur(5px);
        border-radius: 40%;
        animation-duration: 15s;
        animation-name: revers-spin;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform: rotate(90deg)
    }

}

/*Home*/

@media only screen and (min-width: 400px) and (max-width: 480px) {
    .bild {

        width: 100%;
        height: 100%;
        margin: 0;
        box-shadow: 0px 0px 20px 10px #666666;

    }

}

@media (min-width: 481px) {
    .bild {

        position: relative;
        left: -6.5%;
        margin-top: 8%;
        margin-bottom: 20%;
        width: 85%;
        height: 50%;
        box-shadow: 0px 0px 20px 10px #666666;

    }

}


/*Steckbrief*/

@media only screen and (max-width: 480px) {

    .container {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
        text-align: center;
        width: 100%;
        min-height: 100vh;
    }



    .rectangle-aboutme {
        position: absolute;
        top:250px;
        height: 1350px;
        width: 100%;
        background-color: #666666;
    }

    #aboutme-img {
        position: absolute;
        width: 190px;
        height: 250px;
        top: 35%;
        margin-left: 30%;
        z-index: 1;
        margin-bottom: 10%;
    }

    .line-aboutme {
        position: relative;
        border: 2px solid #363636;
        width: 75%;
        margin-left: 12%;
        margin-top: 70%;
        margin-bottom: 10px;
    }

    .aboutme-p {
        overflow: scroll;
        font-family: 'Courier New', Courier, monospace;
        word-wrap: break-all;
        font-size: 1em;
        color: #f5f5f5;
        line-height: 35px;
        width: 95%;
        padding-left: 3%;
        text-align: left;
        height: 660px;

    }

    .steckbrief {
        position: relative;
        line-height: 60px;
        font-family: 'Courier New', Courier, monospace;
        color: #f5f5f5;
        font-size: 130%;
        font-weight: bold;
        text-align: left;
        margin-left: 3%;
    }

}

@media (min-width: 481px) {

    .container {
        display: flex;

    }


    .rectangle-aboutme {
        position: absolute;
        margin-top: 8%;
        height: 750px;
        width: 85%;
        background-color: #666666;
        box-shadow: 10px 10px 10px #cccccc;
        margin-left: 3%;
        margin-bottom: 50px;
        top: 0;
    }

    #aboutme-img {
        position: absolute;
        top: 18%;
        margin-left: 7%;
        width: 190px;
        height: 250px;
        z-index: 1;

    }

    .line-aboutme {
        position: relative;
        top: 44%;
        border: 2px solid #363636;
        width: 90%;
        margin-left: 5%;

    }

    .aboutme-p {

        float: left;
        margin-top: 6%;

        font-family: 'Courier New', Courier, monospace;
        word-wrap: break-all;
        font-size: 1.3em;
        color: #f5f5f5;
        line-height: 35px;
        width: 90%;
        padding-left: 5%;
        text-align: left;
 
    }


    .steckbrief {
        float: left;
        line-height: 80px;
        font-family: 'Courier New', Courier, monospace;
        color: #f5f5f5;
        font-size: 130%;
        font-weight: bold;
        text-align: left;
        margin-left: 30%;
        line-height: 50px;
        margin-top: 3%;

    }

}


/*Projekt Seite*/

#rectangle-proj {
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 140px;
    height: 600px;
    width: 1600px;
    background-color: #666666;
    box-shadow: 10px 10px 10px #cccccc;
    left: 50px;
    top: 150px;
}

#proj-img1 {
    position: absolute;
    height: 550px;
    width: 800px;
    left: 100px;
    top: 175px;
}

#proj-line {
    position: absolute;
    border: 2px solid #000000;
    height: 550px;
    left: 950px;
    top: 175px;

}

#proj-titel1 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    text-align: center;
    width: 700px;
    left: 950px;
    top: 180px;

}

#proj-p1 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    left: 1000px;
    top: 225px;
}

#proj-arrow-right {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 180px;
    left: 1575px;
    filter: invert(100%);
    cursor: pointer;
}


#proj-arrow-left {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 180px;
    left: 1000px;
    filter: invert(100%);
    cursor: pointer;
}


/*Zertifikat Seite*/

#rectangle-zert {
    float: left;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 140px;
    height: 900px;
    width: 1600px;
    background-color: #666666;
    box-shadow: 10px 10px 5px #cccccc;

}

#zert-line {
    position: absolute;
    border: 2px solid #000000;
    height: 798px;
    left: 850px;
    top: 200px;
}

/*Einzelne Elemente für die Zertifikate*/

#zert-titel1 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    left: 850px;
    top: 200px;
    width: 800px;
    height: 50px;
    text-align: center;
    visibility: visible;

}

#zert-p1 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    top: 300px;
    left: 900px;
    visibility: visible;
}

#zertifikat1 {
    position: absolute;
    height: 800px;
    width: 700px;
    left: 100px;
    top: 200px;
    visibility: visible;
}

#zert-titel2 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    left: 850px;
    top: 200px;
    width: 800px;
    height: 50px;
    text-align: center;
    visibility: hidden;

}

#zert-p2 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    top: 300px;
    left: 900px;
    visibility: hidden;
}

#zertifikat2 {
    position: absolute;
    height: 800px;
    width: 700px;
    left: 100px;
    top: 200px;
    visibility: hidden;
}

#zert-titel3 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    left: 850px;
    top: 200px;
    width: 800px;
    height: 50px;
    text-align: center;
    visibility: hidden;

}

#zert-p3 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    top: 300px;
    left: 900px;
    visibility: hidden;
}

#zertifikat3 {
    position: absolute;
    height: 800px;
    width: 600px;
    left: 150px;
    top: 200px;
    visibility: hidden;
}

#zert-titel4 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    left: 850px;
    top: 200px;
    width: 800px;
    height: 50px;
    text-align: center;
    visibility: hidden;

}


#zert-p4 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    top: 300px;
    left: 900px;
    visibility: hidden;
}

#zertifikat4 {
    position: absolute;
    height: 800px;
    width: 700px;
    left: 100px;
    top: 200px;
    visibility: hidden;
}

#zert-titel5 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 2em;
    color: #f5f5f5;
    left: 850px;
    top: 200px;
    width: 800px;
    height: 50px;
    text-align: center;
    visibility: hidden;

}


#zert-p5 {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    color: #f5f5f5;
    top: 300px;
    left: 900px;
    visibility: hidden;
}

#zertifikat5 {
    position: absolute;
    height: 800px;
    width: 700px;
    left: 100px;
    top: 200px;
    visibility: hidden;
}



/* Navigation Zertifikat */

#zert-arrow-right {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 1550px;
    top: 215px;
    margin-top: -15px;
    filter: invert(100%);
    cursor: pointer;


}


#zert-arrow-left {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 910px;
    top: 215px;
    margin-top: -15px;
    filter: invert(100%);
    cursor: pointer;

}



/*Lebenslauf Seite*/

@media only screen and (max-width: 480px){

    .container-2 {
        display: flex;
        padding: 0;
        margin-top: 230px;

        list-style: none;
        text-align: center;
        min-height: 100vh;
        flex-flow: column wrap;
        justify-content: center;
        width: 100%;
    }

    p {
        margin: 0px;
    }
    
    #year-p {
        float: left;
        margin-top: 75%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        justify-content: center;
        word-wrap: break-all;
        font-family: 'Courier New', Courier, monospace;
        color: #f5f5f5;
        font-size: 1.25em;
        transform: translateY(-50%);
       
    }
    
    #year {
        float: left;
        margin-top: 70%;
        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 2em;
        color: #f5f5f5;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    
    .flip-card-front {
        background-color: #666666;
    }
    
    .flip-card-back {
        background-color: #666666;
        transform: rotateY(180deg);
    
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
  
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    
    }
    
    .flip-card-1 {
        float: left;
        margin-bottom: 5%;
        background-color: transparent;
        width: 400px;
        height: 600px;
        perspective: 1000px;
        margin-left: 7%;
    }
    
    .flip-card-1:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

}

@media only screen and (min-width: 481px) and (max-width: 480px){

    p {
        margin: 0px;
    }
    
    #year-p {
        float: left;
        margin-top: 75%;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        justify-content: center;
        word-wrap: break-all;
        font-family: 'Courier New', Courier, monospace;
        color: #f5f5f5;
        font-size: 1.25em;
        transform: translateY(-50%);
    
    
    }
    
    #year {
        float: left;
        margin-top: 70%;
        position: absolute;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        letter-spacing: 0.15em;
        font-size: 2em;
        color: #f5f5f5;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    
    .flip-card-front {
        background-color: #666666;
        box-shadow: 10px 10px 5px #cccccc;
    
    }
    
    .flip-card-back {
        background-color: #666666;
        box-shadow: 10px 10px 5px #cccccc;
        transform: rotateY(180deg);
    
    }
      
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
  
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    
    }
    
    .flip-card-1 {
        float: left;
        margin-top: 8%;
        margin-left: 3%;
        margin-right: 8%;
        margin-bottom: 5%;
        background-color: transparent;
        width: 400px;
        height: 600px;
        perspective: 1000px;
    
    }
    
    .flip-card-1:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

}


/*Kontakt Seite*/

#rectangle {
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    margin-bottom: 140px;
    height: 600px;
    width: 1600px;
    background: linear-gradient(90deg, #666666 0%, #353535 40%, #02002400 80%);
    z-index: 1;
    box-shadow: 10px 10px 5px #cccccc;
    margin-left: 50px;
    top: 150px;
    z-index: 1;
}


#rectangle-p {
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;

}

#img-office {
    position: absolute;
    height: 600px;
    width: 900px;
    top: 150px;
    left: 760px;
    z-index: -1;
}


#img-mail {
    position: absolute;
    height: 40px;
    width: 65px;
    top: 350px;
    margin-top: -20px;
    left: 500px;
    filter: invert(1);
    z-index: 4;
}

form {
    position: absolute;
    background-color: #00000070;
    width: 610px;
    height: 500px;
    top: 200px;
    left: 100px;
    z-index: 3;
    border-radius: 15px;
}

#mail-absender {
    position: absolute;
    top: 325px;
    left: 150px;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;
    font-size: 1em;
    z-index: 4;


}

input#absender {
    position: absolute;
    width: 300px;
    top: 150px;
    left: 50px;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}

#name-absender {
    position: absolute;
    top: 260px;
    left: 150px;
    font-family: 'Courier New', Courier, monospace;
    color: #f5f5f5;
    font-size: 1em;
    z-index: 4;

}

input#name {
    position: absolute;
    width: 300px;
    top: 100px;
    left: 50px;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
}


textarea#nachricht {
    position: absolute;
    width: 510px;
    height: 200px;
    top: 250px;
    left: 50px;
    z-index: 3;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;

}